# Sadece Java dosyalarını dil olarak dikkate al
*.java linguist-detectable=true

# Diğer uzantıların analiz edilmesini engelle
*.json linguist-detectable=false
*.xml linguist-detectable=false
*.md linguist-detectable=false
*.yml linguist-detectable=false
